.seprator{
    display: flex;
    width: 75%;
}
.leftDiv{
    flex: 50%;
    padding: 5px;
}
.rightDiv{
    flex: 50%;
    padding: 5px;
}
.backcolor{
    background-color: #3B8363; 
}

/* CSS */
@media screen and (max-width: 768px) {
    .seprator {
      flex-direction: column;
      width: 100%;
    }
  
    .leftDiv,
    .rightDiv {
      flex: 100%;
    }
  
    .leftDiv {
      order: 2; /* Reorder leftDiv below rightDiv */
    }
  }
  
  /* Additional CSS for smaller screens if needed */
  @media screen and (max-width: 320px) {
    .primary-button {
      width: 100%; /* Make buttons full width on smaller screens */
    }
  
    .content {
      padding: 20px; /* Add padding to content on smaller screens */
    }
  
    .divider {
      text-align: center; /* Center text in divider */
    }
  
    .flex.text-black.gap-2.pl-4 {
      flex-direction: column; /* Stack 'have an account' and 'Sign in' vertically */
      align-items: center;
      margin-top: 20px; /* Add margin to top */
    }
  
    .flex.text-black.gap-2.pl-4 p {
      margin-top: 10px; /* Add margin to top of 'Sign in' */
    }
    .rounded-2xl {
        border-radius: 0rem !important;
    }
    .min-w-80 {
        min-width: 23rem !important;
    }
  }
  